<div class="create-user-root">
    <form class="form" [formGroup]="createUserForm" (ngSubmit)="onCreateUser($event)">
        <div class="input-wrapper">
            <label for="name">Name </label>
            <input class="input" [ngClass]="{ 'error': createUserForm.get('name')?.errors?.['required'] }" type="text" formControlName="name" />
        </div>
        <div class="input-wrapper">
            <label for="emailAddress">Email address </label>
            <input class="input" [ngClass]="{ 'error': createUserForm.get('emailAddress')?.errors?.['required'] }" type="text" formControlName="emailAddress" />
        </div>
        <div class="input-wrapper">
            <label for="password">Password </label>
            <input class="input" [ngClass]="{ 'error': createUserForm.get('password')?.errors?.['required'] }" type="password" formControlName="password" />
        </div>
        <div>
            <label for="roles">Roles </label>
            <div>
                @for(role of allRoles; track role.name) {
                    <div class="check-box-row">
                        <input type="checkbox" (change)="onCheckRole(role)" />
                        <label>{{ role.name }}</label>
                    </div>
                }
            </div>
        </div>
        <button class="button success" type="submit" [disabled]="!createUserForm.valid || createUserForm.get('roles')?.value?.length === 0">
            Create new user
        </button>
    </form>
</div>