<div>
    <div style="display: inline-block;">
        <div>Users</div>
        @for (user of viewModel.users; track user.name) {
            <div class="user flex-container-horizontal">
                <div class="user-id-text flex-item">{{ user.name }}</div>
            </div>
            <div class="roles">
                <div>Roles</div>
                @for(role of user.roles; track role.name) {
                    <div class="role flex-container-horizontal">
                        <div class="role-id-text flex-item">{{ role.name }}</div>
                    </div>
                }
            </div>
        }
    </div>
</div>